root = true

[*]
# Most of the standard properties are supported
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]

# Starting from ktlint 0.34.2 There is a problem with import "import-ordering" rule - ktlint contradicts
# default AS import arrangement rules, so we have to disable ktlint it.
# See https://github.com/pinterest/ktlint/issues/527
# Since IDE complains about unknown `disabled_rules` key we have to disable it as well:

# noinspection EditorConfigKeyCorrectness
disabled_rules = import-ordering
